.c-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  
  @include sp {
    flex-direction: column;
    gap: 2rem;
  }
  
  &_col {
    @include sp {
      width: 100%;
    }
  }

  &--2 {
    .c-row_col {
      width: 50%;
      
      @include sp {
        width: 100%;
      }
    }
  }

  &--4 {
    .c-row_col {
      width: 25%;

      @include sp {
        width: 50%;
      }
    }
  }
}